img {
    width: 200px;
}

    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66667%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33333%;}
    .col-l-5 {width: 41.66667%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33333%;}
    .col-l-8 {width: 66.66667%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33333%;}
    .col-l-11 {width: 91.66667%;}
    .col-l-12 {width: 100%;}
.margin{
    margin-bottom: 10px;
}
.row{
    /*cho phép thẻ div (col) nổi lên trên*/
    display: flex;
    /*Các thẻ div (col)  không đủ chỗ chứa trên 1 hàng thì rớt xuống*/
    flex-wrap: wrap;
}

.right {

}
.left {
    background-color: beige;
}
.head2 {
    background-color: coral;
    text-align: center;
}
#col1{

}
*{
    margin: 0;
    box-sizing: border-box;
}
#col2{


}
.footer {
   background: coral;
    text-align: center;

}
.head {
    background-color: darkgrey;
  }
body {
  margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}