.head-1 {
  width: 100%;
    margin: 0;
    position: relative;
}
.col-l-1 {width: 8.33333%;}
.col-l-2 {width: 16.66667%;}
.col-l-3 {width: 25%;}
.col-l-4 {width: 33.33333%;}
.col-l-5 {width: 41.66667%;}
.col-l-6 {width: 50%;}
.col-l-7 {width: 58.33333%;}
.col-l-8 {width: 66.66667%;}
.col-l-9 {width: 75%;}
.col-l-10 {width: 83.33333%;}
.col-l-11 {width: 91.66667%;}
.col-l-12 {width: 100%;}

.name {
    position: absolute;
    top: 1px;
    right: 34px;
    font-weight: bold;
    font-size: 25px;
    padding-top: 30px;
    display: inline;
   text-shadow: 2px 2px 5px gray;
    text-align: right;
    font-style: initial;
}
.q {
    position: absolute;
    top:7px;
    right: 110px;
}
.tim-kiem {
    top: -3px;
    color: black;
    right: 100px;
    width: 250px;
    position: absolute;
}
.wrap {
    position: absolute;
    display: inline;
    top: 10px;
    right: 10px;
}
.head-2 {
    margin: 0;
    border: 1px solid black;
    padding: 10px 10px 10px 100px;
    position: relative;
    width: 100%;
    background-color: #CDCDCD;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.nav-bar a:hover {
    color: pink;
    background-color: #5c636a;
}
.nav-bar a {

    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;

}
.logoz {
    filter: drop-shadow(10px 10px 10px gray);
    padding: 15px 10px 15px 40px;
    width: 150px;
    height: 100px;
    display: inline;
}
.head-1 {
    background-color: pink;
}
.head{
    background: orange;
    height: 10%;
}
.left{
    border: 1px solid black;
    background-color: #badce3;
}
.content {
    overflow: hidden;
    position: absolute;
    clear: both;
    color: black;
    font-size: 40px;
    font-weight: bold;

}
.right {
    background-color: #CDCDCD;
    background-size: 100%;
    overflow: hidden;
    border: 1px solid black;
}


.contain{
    background: #7abaff;
}
*{
    margin: 0;
}
.left .item a {
    width: 100%;

    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    color: black;
    text-decoration: none;
    display: block;
}
.footer{
    background-color: #CDCDCD;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    color: black;
    border: 1px solid black;
}
.row{
    /*cho phép thẻ div (col) nổi lên trên*/
    display: flex;
    /*Các thẻ div (col)  không đủ chỗ chứa trên 1 hàng thì rớt xuống*/
    flex-wrap: wrap;
}