.col-l-1 {
    width: 8.33333%;
}

.col-l-2 {
    width: 16.66667%;
}

.col-l-3 {
    width: 25%;
}

.col-l-4 {
    width: 33.33333%;
}

.col-l-5 {
    width: 41.66667%;
}

.col-l-6 {
    width: 50%;
}

.col-l-7 {
    width: 58.33333%;
}

.col-l-8 {
    width: 66.66667%;
}

.col-l-9 {
    width: 75%;
}

.col-l-10 {
    width: 83.33333%;
}

.col-l-11 {
    width: 91.66667%;
}

.col-l-12 {
    width: 100%;
}

.ads {
    border: 1px solid black;
    padding: 20px;
}

li {
    list-style: none;
}

.link {
    position: relative;
    top: auto;
    color: blue;
    margin-left: auto;
    margin-right: auto;
}

div .oke a:hover {
    background-color: dimgray;
}

.head {
    background: black;
    color: white;
    height: 50px;
}

.text2 {
    padding: 10px;
    text-align: justify;
}

.left {
    background: darkgrey;
}

.right {
    background: darkgray;
}

.contain {
    background: azure;
}

* {
    margin: 0px;
}

#login {
    float: right;

    position: relative;
    left: 0;
    margin-right: 1px;
}

a:hover {

}

a {
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: #CDCDCD;
}

.row {
    /*cho phép thẻ div (col) nổi lên trên*/
    display: flex;
    /*Các thẻ div (col)  không đủ chỗ chứa trên 1 hàng thì rớt xuống*/
    flex-wrap: wrap;
}

.footer {
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: #CDCDCD;
}

.text {
    margin-bottom: 139px;
}