body {

}
body{
    background-image: url("https://kiemthetruyenky.vn/anh-lien-minh-huyen-thoai-3d/imager_2_29575_700.jpg");
    filter: blur(8px);
    -webkit-filter: blur(10px);
    /* The image used */

    /* Full height */


    /* Center and scale the image nicely */
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100%;
}