.text {
    border: 3px outset #CDCDCD;
    text-shadow: 3px 3px 5px grey;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 200px;
    width: 300px;
    padding: 10px;
    text-align: justify;
    /*border-radius: 20px;*/
    box-shadow: 5px 5px 5px #565e64;
    opacity: 1.0;
    background-color: #CDCDCD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

